.task {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem;
  gap: 0.75rem;
  background: var(--gray-500);
  box-shadow: 0px 2px 8px var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 8px;
}

.task + .task {
  margin-top: 1rem;
}

.task input[type=checkbox] {
  appearance: none;
  padding: 0.5rem;
  border: 2px solid var(--blue);
  border-radius: 999px;
  transform: translateY(-0.075em);
  box-shadow: none;
}

.task input[type=checkbox]:hover {
  border: 2px solid var(--blue-dark);
  opacity: 0.7;
}

.task input[type=checkbox]:checked {
  border: 2px solid var(--purple-dark);
  background: var(--purple-dark);
}

.task input[type=checkbox]:checked:after {
  content: "";
  width: 0.25rem;
  height: 0.5rem;
  border: solid var(--gray-200);
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 0.35rem;
  top: 0.1rem;
}

.task input[type=checkbox]:checked:hover {
  background: var(--purple);
  border: 2px solid var(--purple);
  opacity: 0.9;
}

.task span {
  flex: 1;
  color: var(--gray-100);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.225rem;
}

.task form {
  flex: 1;
  display: flex;
}

.task textarea {
  flex: 1;
  width: 100%;
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  padding: 1rem;
  border-radius: 8px;
  color: var(--gray-300);
  resize: none;
}

.task textarea::-webkit-scrollbar {
  width: 0.25rem;
}

.task textarea::-webkit-scrollbar-thumb {
  background-color: var(--gray-300);
  border-radius: 8px;
}

.task input[type=checkbox]:checked ~ span {
  color: var(--gray-300);
  text-decoration-line: line-through;
}

.taskActions {
  display: flex;
  flex-direction: column;
}

.task button {
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;
  padding: 0.3rem;
}

.task button:hover {
  background: var(--gray-400);
  border-radius: 4px;
}

.task .btnDelete:hover {
  color: var(--danger);
}

.task .btnEdit:hover {
  color: var(--blue);
}

.task .btnSave:hover {
  color: var(--success);
}

.task button + button {
  margin-top: 0.5rem;
}