.wrapper {
  max-width: calc(46rem + 2rem);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: -2rem auto 2rem;
  padding: 0 1rem;
}

.content {
  margin: 4rem 0 2rem;
}

.content main {
  margin: 1.5rem 0;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}